pyrogram
tgcrypto
pytgcalls[pyrogram]
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
ffmpeg-python
pillow
python-arq
future
psutil
wget
tswift
regex